body {
  background: radial-gradient(circle, #000 0, #323232 100%);
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
.nav-link {
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: bold;
}
.act {
  color: #2596be;
}
.act:hover {
  color: #2596be;
}
.act1:hover {
  color: #2596be !important;
}
@media screen and (max-width: 776px) {
  .navbar .dropdown {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
  }
}
.h1,
.h2 {
  font-size: 26px;
}
.myheading {
  font-weight: 600;
  text-transform: capitalize !important;
}
.span {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
.info {
  background-color: #cff4fc;
}
ul {
  list-style: none;
}
.product-star {
  color: gold !important;
  font-size: 15px;
}

.product-wrapper .corousel {
  display: grid;
  grid-auto-flow: column;
  overflow: hidden;
}
.corousel .card {
  height: 200px;
  background-color: #fff;
  border-radius: 8px;
}
.product-star {
  top: 15%;
  left: 30%;
}
.product-wrapper {
  position: relative;
}

.product-wrapper .glide__arrow {
  position: absolute;
  top: 50%;
  background-color: transparent !important;
  color: #fff;
  border: none;
}
.product-wrapper .glide__arrow--left {
  left: -40px;
}

.product-wrapper .glide__arrow--right {
  right: -40px;
}
.product-wrapper .glide__arrow i {
  font-size: 40px;
}
.slider-dots button {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  display: flex;
  margin: 0 20px;
  background-color: #fff;
}
